# project/.env
# Settings
DEBUG=True # On Development || Change to False on production
SECRET_KEY=SOME-RANDOM-SECRET-KEY

# Email Related
EMAIL_HOST_USER="THE GMAIL Account from where you've retreived app password"
EMAIL_HOST_PASSWORD="THE APP PASSWORD"


# Parameters for constructing your own connection string
PGHOST="GET IT FROM VERCEL/NEON DB"
PGUSER="GET IT FROM VERCEL/NEON DB"
PGDATABASE="GET IT FROM VERCEL/NEON DB"
PGPASSWORD="GET IT FROM VERCEL/NEON DB"
PGPORT=5432 # Default is 5432


# FRONTEND_LINK=https://phitron-sdt-assignment-05-frontend.vercel.app # Production
FRONTEND_LINK=http://localhost:3000 # Development
